*{
    font-family: amiri, serif
}

cart-tile {
    position: fixed;
    right: 0;
    top: 0;
}
.container {
    text-align: center;

    h2{
        font-family: Lato, sans-serif;
        color: rgba(83, 83, 83, 0.44);
    }
    &:first-of-type{
         margin-top: 70px;
     }
}
@media (max-width: 430px){
    .container{
        shop-item-tile{
            margin: 1rem 0;
        }
    }
}

@media (max-width: 380px){
    .container{
        shop-item-tile{
            width: calc(100vw - 60px - 20px);
            height: calc((100vw - 60px - 20px) / 3 * 4.2);
        }
    }
}

