*{
    font-family: amiri, serif
}

cart-tile {
    position: absolute;
    right: 0;
    top: 0;
}
.container {
    text-align: center;

    h2{
        font-family: Lato, sans-serif;
        color: rgba(83, 83, 83, 0.44);
    }
}

