button{
  width: 100%;
  padding: 0 0 0 20px;
  text-align: right;
  display: block;
  transition: all .3s;
  border:none;
  background: none;
  font-family: Lato, Arial, Verdana, Tahoma, sans-serif;
  cursor: pointer;
  margin: 0;
  line-height: 60px;
  vertical-align: middle;
  color: white;
  font-size: 14px;
}
button:hover{
  background-color: rgba(255,255,255, 0.25);
}
button:active{
  cursor: grabbing;
}
button.selected, button:active{
  background-color: rgba(255,255,255, 0.50);
  color: #726b72;
}
button font-awesome-icon{
  margin: 0 20px 0 10px;
  transition: margin .3s;
  display: inline-block;
}

button:hover font-awesome-icon{
  margin: 0 10px 0 20px;
}

@media (max-width: 500px), (max-height: 490px){
  button{
    padding: 0;
    display: grid;
    place-items: center;
    height: 60px;
    span {
      display: none;
    }
    font-awesome-icon{
      --translate-y: -10px;
      --size: 25px;
      margin: 0 auto;
      &[puzzle-piece]{
        --size: 27px;
        --translate-x: 2px;
      }
    }
    &:hover font-awesome-icon{
      margin: 0 auto;
    }
  }
}
