# Project exclude paths
/dist/
/node_modules/
/src/components/contentItem/ContentItem.js
/src/components/components.js
/src/js/bundle.js
/.idea/
/src/components/navItem/NavItem.js.map
/src/components/bookReview/BookReview.js
/src/components/bookReview/BookReview.js.map
/src/components/fontAwesomeIcon/icons/bundle.js
/src/components/fontAwesomeIcon/icons/bundle.js.map
/src/js/bundle.js.map
/src/components/components.js.map
/src/components/contentItem/ContentItem.js.map
/src/components/fontAwesomeIcon/FontAwesomeIcon.js
/src/components/fontAwesomeIcon/FontAwesomeIcon.js.map
/src/components/instagramTile/InstagramTile.js
/src/components/instagramTile/InstagramTile.js.map
/src/components/navItem/NavItem.js
/src/components/tiles/tiles/PoemTile.js
/src/components/tiles/tiles/PoemTile.js.map
/src/components/tabView/TabView.js
/src/components/tiles/views/TabView.js
/src/components/tabView/TabView.js.map
/src/components/tiles/views/TabView.js.map
/src/components/tiles/Tile.js
/src/components/tiles/Tile.js.map
/src/components/tiles/TileInterface.js
/src/components/tiles/TileInterface.js.map
/src/components/tiles/ViewTile.js
/src/components/tiles/ViewTile.js.map
