:host {
	background-color: #3bbec5;
	overflow: hidden;
	border-radius: 7px;
	padding: 1rem;
	margin: 1rem 2rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
	display: block;
	text-align: left;
	transition: .2s;
	color: white;

	--price-height: 3rem;
	--price-width: 3rem;
	--price-border-radius: 50%;
	--price-padding: initial;

	& h3 {
		font-weight: 400;
		margin: 0;
	}

	p{
		margin: 0;
		font-size: 1.2rem;
		box-sizing: border-box;
		padding: 0;
	}
}