:host {
	width: 300px;
}
cart-item-tile + cart-item-tile {
	margin-top: 7.5px;
}
button{
	cursor: pointer;
}
.closeCart{
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	margin: 7.5px 0;
	border-radius: 5px;
	border: none;
	background: #e37c56;
	font-size: 1rem;
	color: white;
	&:hover{
		background: #ce6f4a;
	}
	&:active{
		background: #b35f40;
	}
	&:disabled{
		background: #cacaca;
	}
}
.checkout{
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	margin-top: 7.5px;
	border-radius: 5px;
	border: none;
	background: darkkhaki;
	font-size: 1rem;
	color: white;
	&:hover{
		background: #a7a15f;
	}
	&:active{
		background: #999457;
	}
	&:disabled{
		background: #cacaca;
	}
}
