:host {
	width: calc(100% - 170px);
	box-sizing: border-box;
	border-bottom-left-radius: 0;
	display: grid;
	height: 100%;
	overflow-y:scroll;
	overflow-x: hidden;
	grid-template-columns: 1fr 300px minmax(200px, 430px) 200px 1fr;
	grid-template-rows: 1fr auto auto auto auto auto 1fr;
	padding: 7.5px;
	grid-gap: 7.5px;
	grid-template-areas:
		". . . . ."
		". . . close ."
		". items shipping shipping ."
		". items totals totals ."
		". items pay pay ."
		". items . . ."
		". . . . .";
}
@media (max-width: 870px) {
	:host {
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: auto auto auto auto auto 1fr;
		grid-template-areas:
			". close ."
			". items ."
			". shipping ."
			". totals ."
			". pay ."
			". . .";
	}

}
button{
	cursor: pointer;
}

.items{
	grid-area: items;
	margin: 0;
	cart-item-tile{
		grid-area: items;
		& + cart-item-tile{
			margin-top: 7.5px;
		}
	}
}

.shipping{

	grid-area: shipping;
	display: grid;
	grid-template-areas:
		"fName fName lName lName"
		"email email email email"
		"country city city  postal"
		"street street number bus";
	grid-gap: 7.5px;
	grid-template-columns: 150px 1fr 1fr 150px;
	[for="given-name"]{
		grid-area: fName;
	};
	[for="family-name"]{
		grid-area: lName;
	};
	[for="email"]{
		grid-area: email;
	};
	[for="ship-country"]{
		grid-area: country;
	};
	[for="ship-city"]{
		grid-area: city;
	};
	[for="ship-zip"]{
		grid-area: postal;
	};
	[for="ship-address"]{
		grid-area: street;
	};
	[for="ship-number"]{
		grid-area: number;
	};
	[for="ship-bus"]{
		grid-area: bus;
	};
	label{
		line-height: 1.5rem;
		text-indent: .2rem;
	}
	input, select{
		appearance: none;
		box-sizing: border-box;
		width: 100%;
		border: none;
		border-radius: 5px;
		background: white;
		line-height: 1.5rem;
		height: 1.7rem;
		padding: .1rem .5rem;
		font-size: 1rem;
	}
}

.totals{
	grid-area: totals;
	display: flex;
	flex-direction: column;
	.row {
		padding: 0 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&.total{
			padding: 2px 5px 0;
			border: 2px solid #423131;
			border-radius: 5px;
		}
	}
}

.closeCart{
	grid-area: close;
	--button-color: #e37c56;
	&:hover{
		--button-color: #ce6f4a;
	}
	&:active{
		--button-color: #b35f40;
	}
}
.pay{
	grid-area: pay;
	margin-bottom: 20px;
	--button-color: #bdb76b;
	&:hover{
		--button-color: #a7a15f;
	}
	&:active{
		--button-color: #999457;
	}
}
select{
	cursor: pointer;
}
button{
	cursor: pointer;
	box-sizing: border-box;
	height: 30px;
	border-radius: 5px;
	border: none;
	background: var(--button-color);
	font-size: 1rem;
	color: white;
	&:disabled{
		background: #cacaca;
		cursor: not-allowed;
	}
}

@media (max-width: 500px), (max-height: 490px) {
	:host {
		width: unset;
		left:60px;
		right: 0;
		top: 0;
		bottom: 0;
		& > * + * {
			margin-top: 10px;
		}
		label + label{
			margin: 5px 0 0 0;
		}
	}
	.shipping {
		display: flex;
		flex-direction: column;
	}
	* + *{

	}
}
