:host{
    height: unset;
}

*{
    font-family: amiri, serif
}
.container {
    text-align: center;

    h2 {
        font-family: Lato, sans-serif;
        color: rgba(83, 83, 83, 0.44);
    }
}
@media (max-width: 430px){
    .container{
        shop-item-tile{
            margin: 1rem 0;
        }
    }
}


