*{
    box-sizing: border-box;
    font-family: Lato, Arial, Verdana, Tahoma, sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color:#FFF;
}
.tile{
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
}
#poems .tile{
    width: 300px;
}
.tile h3, .tile h4{
    color: #535353;
    margin: 0;
    padding: 0;
}
#research .tile{
    display: block;
}


.edit{
    border: none;
    background-color: initial;
    font-size: 2rem;
}

.editable .tile{
    -webkit-user-modify: read-write;
}
